In [ ]:
# -*- coding: utf-8
# Repórter Brasil (https://ruralometro2022.reporterbrasil.org.br/)
# Reinaldo Chaves (@paidatocandeira)
# Faz o cruzamento de deputados e doações - para saber deputados que podem estar nos autos de infração do Ibama ou doadores que estão na lista de autos
# Dados em https://dadosabertos.ibama.gov.br/dataset/fiscalizacao-auto-de-infracao/resource/b2aba344-95df-43c0-b2ba-f4353cfd9a00

In [1]:
import pandas as pd
import unidecode
from datetime import date

In [2]:
def f(str):
    try:
        return (unidecode.unidecode(str))
    except:
        return (str)

In [3]:
kwargs = {'sep': ';', 'dtype': str, 'encoding': 'utf-8'}
autos_ibama = pd.read_csv("originais/auto_infracao_ibama_16_fev_2022.csv", **kwargs)

In [4]:
autos_ibama['DAT_ULT_ALTERACAO'] = pd.to_datetime(autos_ibama['DAT_ULT_ALTERACAO'])
autos_ibama = autos_ibama.sort_values(by="DAT_ULT_ALTERACAO")
autos_ibama[['NUM_AUTO_INFRACAO', 'SEQ_AUTO_INFRACAO', 'DAT_HORA_AUTO_INFRACAO', 'DAT_ULT_ALTERACAO']]

,NUM_AUTO_INFRACAO,SEQ_AUTO_INFRACAO,DAT_HORA_AUTO_INFRACAO,DAT_ULT_ALTERACAO
215443,50762,723555,14/05/1998 00:00:00,1980-02-01
215442,50763,723554,18/05/1998 00:00:00,1980-02-01
195725,108506,700688,16/12/1998 00:00:00,1980-04-01
128184,56376,577628,10/07/1998 00:00:00,1980-04-01
195726,108318,700689,01/12/1998 00:00:00,1980-04-01
...,...,...,...,...
617267,10486463000169,AGRÍCOLAS LTDA,NaN,NaT
617504,VJ2NZZTR,NaN,24/11/2020 15:01:19,NaT
617505,61064929000179,S.A.,NaN,NaT
617710,WF46BQG6,NaN,24/11/2020 16:35:26,NaT
617711,03964950000124,PRODTOS.QUÍMICOS LTDA.,NaN,NaT

In [5]:
autos_ibama = autos_ibama.drop_duplicates("NUM_AUTO_INFRACAO", keep='last').copy()

In [6]:
autos_ibama.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 542776 entries, 215443 to 617711
Data columns (total 42 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   SEQ_AUTO_INFRACAO             539130 non-null  object
 1   NUM_AUTO_INFRACAO             542776 non-null  object
 2   SER_AUTO_INFRACAO             521522 non-null  object
 3   TIPO_AUTO                     542764 non-null  object
 4   TIPO_MULTA                    101615 non-null  object
 5   VAL_AUTO_INFRACAO             540732 non-null  object
 6   PATRIMONIO_APURACAO           2845 non-null    object
 7   GRAVIDADE_INFRACAO            9275 non-null    object
 8   UNID_ARRECADACAO              539130 non-null  object
 9   DES_AUTO_INFRACAO             529870 non-null  object
 10  DAT_HORA_AUTO_INFRACAO        542771 non-null  object
 11  FORMA_ENTREGA                 136391 non-null  object
 12  DAT_CIENCIA_AUTUACAO          339779 non-null  object
 13  COD_MUNICIPIO                 542771 non-null  object
 14  MUNICIPIO                     542771 non-null  object
 15  UF                            542771 non-null  object
 16  NUM_PROCESSO                  533009 non-null  object
 17  COD_INFRACAO                  542771 non-null  object
 18  DES_INFRACAO                  542748 non-null  object
 19  TIPO_INFRACAO                 542776 non-null  object
 20  NOME_INFRATOR                 542074 non-null  object
 21  CPF_CNPJ_INFRATOR             525101 non-null  object
 22  QTD_AREA                      33039 non-null   object
 23  INFRACAO_AREA                 102257 non-null  object
 24  DES_OUTROS_TIPO_AREA          82 non-null      object
 25  CLASSIFICACAO_AREA            126370 non-null  object
 26  NUM_LATITUDE_AUTO             209689 non-null  object
 27  NUM_LONGITUDE_AUTO            210368 non-null  object
 28  DES_LOCAL_INFRACAO            136242 non-null  object
 29  NOTIFICACAO_VINCULADA         539125 non-null  object
 30  ACAO_FISCALIZATORIA           102789 non-null  object
 31  UNID_CONTROLE                 465978 non-null  object
 32  TIPO_ACAO                     147413 non-null  object
 33  OPERACAO                      32712 non-null   object
 34  DENUNCIA_SISLIV               539125 non-null  object
 35  ORDEM_FISCALIZACAO            114187 non-null  object
 36  SOLICITACAO_RECURSO           34057 non-null   object
 37  OPERACAO_SOL_RECURSO          34057 non-null   object
 38  DAT_LANCAMENTO                538745 non-null  object
 39  DAT_ULT_ALTERACAO             539956 non-null  datetime64[ns]
 40  TIPO_ULT_ALTERACAO            536331 non-null  object
 41  ULTIMA_ATUALIZACAO_RELATORIO  542750 non-null  object
dtypes: datetime64[ns](1), object(41)
memory usage: 178.1+ MB

In [7]:
autos_ibama.sample(5)

,SEQ_AUTO_INFRACAO,NUM_AUTO_INFRACAO,SER_AUTO_INFRACAO,TIPO_AUTO,TIPO_MULTA,VAL_AUTO_INFRACAO,PATRIMONIO_APURACAO,GRAVIDADE_INFRACAO,UNID_ARRECADACAO,DES_AUTO_INFRACAO,...,TIPO_ACAO,OPERACAO,DENUNCIA_SISLIV,ORDEM_FISCALIZACAO,SOLICITACAO_RECURSO,OPERACAO_SOL_RECURSO,DAT_LANCAMENTO,DAT_ULT_ALTERACAO,TIPO_ULT_ALTERACAO,ULTIMA_ATUALIZACAO_RELATORIO
406581,1293758,458528,D,Multa simples,NaN,754035,NaN,NaN,ALM/GEREX,"DESTRUIR 502,69 HECTARES DE FLORESTA NATIVA, O...",...,NaN,NaN,/,NaN,NaN,NaN,26/05/2008 10:18:14,2008-09-15 11:07:44,Preenchido,13/02/2022 19:02
71768,442776,239347,D,Multa simples,NaN,2700,NaN,NaN,PA/SUPES,VENDER 27 M3 DE MADEIRA SERRADA DA ESPÉCIE CAS...,...,NaN,NaN,/,NaN,NaN,NaN,30/09/2003 10:40:59,2003-09-30 10:40:59,Preenchido,13/02/2022 19:02
552915,1882784,9115321,E,Multa simples,Aberta,501500,NaN,Grave,IBAMA,Elaborar informações falsas no SISFLORA/SEMAS/...,...,Rotina,NaN,/,PA044590,039409.2016,MALHA VERDE,08/11/2016 13:51:23,2016-11-18 17:57:36,Preenchido,13/02/2022 19:02
161689,664977,160010,B,Multa simples,NaN,"0,01",NaN,NaN,CONV/PM/SC,"Pescar com a utilizacao de apetrechos, aparelh...",...,NaN,NaN,/,NaN,NaN,NaN,15/05/2006 10:45:22,2006-05-15 10:45:22,Preenchido,13/02/2022 19:02
434094,1457148,363084,D,Multa simples,NaN,2000,NaN,NaN,RJ/SUPES,Manter em cativeiro espécimes da fauna silvest...,...,Rotina,NaN,/,NaN,NaN,NaN,12/05/2009 14:06:36,2010-02-09 16:35:56,Preenchido,13/02/2022 19:02

In [8]:
autos_ibama[['CPF_CNPJ_INFRATOR', 'NOME_INFRATOR']].sample(5)

       CPF_CNPJ_INFRATOR                           NOME_INFRATOR
122940       ***785222**                ILSON GIOVANNI CARNNEIRO
72482     22979694000193  INDUSTRIA DE ESQUADRIAS PLENITUDE LTDA
309777               NaN                    JOAO GONCALVES SILVA
479032    76641448000580    TV - TÉCNICA VIÁRIA CONSTRUÇÕES LTDA
135156    33412792011367          CONSTRUTORA QUEIROZ GALVÃO S/A

In [9]:
autos_ibama = autos_ibama[pd.notnull(autos_ibama['CPF_CNPJ_INFRATOR'])].copy()

In [10]:
def limpeza1(linha):
    documento = str(linha["CPF_CNPJ_INFRATOR"])
    if len(documento) > 11:
        return documento[:8]
    else:
        return "documento_cpf"

autos_ibama['cnpj_raiz'] = autos_ibama.apply(limpeza1, axis=1)

In [11]:
autos_ibama["nome_infrator_semacentos"] = autos_ibama["NOME_INFRATOR"].str.upper()
autos_ibama["nome_infrator_semacentos"] = autos_ibama["nome_infrator_semacentos"].apply(f)

In [12]:
autos_ibama[['CPF_CNPJ_INFRATOR', 'NOME_INFRATOR', 'nome_infrator_semacentos']].sample(5)

,CPF_CNPJ_INFRATOR,NOME_INFRATOR,nome_infrator_semacentos
45044,***386961**,UARLES FERNANDES DOS SANTOS,UARLES FERNANDES DOS SANTOS
375060,***023346**,GERALDO DO NASCIMENTO MOREIRA,GERALDO DO NASCIMENTO MOREIRA
114642,15091291000148,MARCIONEI JOSE SANDRI,MARCIONEI JOSE SANDRI
256647,***996566**,ANTONIO MANOEL MACHADO,ANTONIO MANOEL MACHADO
168471,***196789**,LIBANO PALUDO,LIBANO PALUDO

In [13]:
busca = autos_ibama[(autos_ibama['CPF_CNPJ_INFRATOR'] == '***943702**')]
busca[['CPF_CNPJ_INFRATOR', 'NOME_INFRATOR']]

       CPF_CNPJ_INFRATOR            NOME_INFRATOR
489999       ***943702**  Helder Zahluth Barbalho

In [15]:
busca = autos_ibama[(autos_ibama['CPF_CNPJ_INFRATOR'] == '***566470**')]
busca[['CPF_CNPJ_INFRATOR', 'NOME_INFRATOR']]

       CPF_CNPJ_INFRATOR              NOME_INFRATOR
133063       ***566470**           ROMARIO DA SILVA
555660       ***566470**  Gleizer Antonio Raminelli

In [31]:
busca = autos_ibama[(autos_ibama['CPF_CNPJ_INFRATOR'] == '***181259**')]
busca[['CPF_CNPJ_INFRATOR', 'NOME_INFRATOR']]

       CPF_CNPJ_INFRATOR                 NOME_INFRATOR
111763       ***181259**  ELIZEU ZULMAR MAGGI SCHEFFER

In [16]:
busca = autos_ibama[(autos_ibama['CPF_CNPJ_INFRATOR'] == '***824308**')]
busca

,SEQ_AUTO_INFRACAO,NUM_AUTO_INFRACAO,SER_AUTO_INFRACAO,TIPO_AUTO,TIPO_MULTA,VAL_AUTO_INFRACAO,PATRIMONIO_APURACAO,GRAVIDADE_INFRACAO,UNID_ARRECADACAO,DES_AUTO_INFRACAO,...,DENUNCIA_SISLIV,ORDEM_FISCALIZACAO,SOLICITACAO_RECURSO,OPERACAO_SOL_RECURSO,DAT_LANCAMENTO,DAT_ULT_ALTERACAO,TIPO_ULT_ALTERACAO,ULTIMA_ATUALIZACAO_RELATORIO,cnpj_raiz,nome_infrator_semacentos
354836,970672,416851,D,Multa simples,NaN,3000,NaN,NaN,CONV/PM/MS,RETIRAR 30 ARVORES DA ESPECIE COQUEIRO SEM APR...,...,/,NaN,NaN,NaN,23/11/2006 16:50:28,2006-11-23 16:58:46,Preenchido,13/02/2022 19:02,documento_cpf,JOAO CARLOS DI GENIO
227994,737300,29519,D,Multa simples,NaN,726000,NaN,NaN,JIP/GEREX,"DESMATAR 484,00 HA DE MATA NATIVA, SEM AUTORIZ...",...,/,NaN,NaN,NaN,06/06/2006 16:04:55,2008-10-21 09:13:59,Preenchido,13/02/2022 19:02,documento_cpf,JOAO CARLOS DI GENIO
227995,737301,29520,D,Multa simples,NaN,484000,NaN,NaN,JIP/GEREX,"USAR FOGO EM 484,00 HA DE DESMATAMENTO, SEM AU...",...,/,NaN,NaN,NaN,06/06/2006 16:04:55,2008-10-21 09:16:26,Preenchido,13/02/2022 19:02,documento_cpf,JOAO CARLOS DI GENIO
315935,832464,106716,D,Multa simples,Fechada,4500,NaN,NaN,Dourados/Unid_Tec,SUPRESSÃO PARCIAL NA MATA CILIAR DO CÓRREGO CO...,...,/,NaN,NaN,NaN,30/03/2004 15:24:41,2014-09-24 14:43:47,Preenchido,13/02/2022 19:02,documento_cpf,JOAO CARLOS DI GENIO

In [14]:
autos_ibama_pf = autos_ibama[(autos_ibama['cnpj_raiz'] == 'documento_cpf')]
autos_ibama_pj = autos_ibama[(autos_ibama['cnpj_raiz'] != 'documento_cpf')]

In [15]:
new = autos_ibama_pj["cnpj_raiz"].isin(["01463126", "02657326", "03167408", "04057706", "05904108", "07353227", "10242314", "12631778", "13134686", "14019929", "17331307", "21049762", "21129267", "22158240", "25555723", "26172122", "30202385", "32161939"])
autos_ibama_pj[new]

Empty DataFrame
Columns: [SEQ_AUTO_INFRACAO, NUM_AUTO_INFRACAO, SER_AUTO_INFRACAO, TIPO_AUTO, TIPO_MULTA, VAL_AUTO_INFRACAO, PATRIMONIO_APURACAO, GRAVIDADE_INFRACAO, UNID_ARRECADACAO, DES_AUTO_INFRACAO, DAT_HORA_AUTO_INFRACAO, FORMA_ENTREGA, DAT_CIENCIA_AUTUACAO, COD_MUNICIPIO, MUNICIPIO, UF, NUM_PROCESSO, COD_INFRACAO, DES_INFRACAO, TIPO_INFRACAO, NOME_INFRATOR, CPF_CNPJ_INFRATOR, QTD_AREA, INFRACAO_AREA, DES_OUTROS_TIPO_AREA, CLASSIFICACAO_AREA, NUM_LATITUDE_AUTO, NUM_LONGITUDE_AUTO, DES_LOCAL_INFRACAO, NOTIFICACAO_VINCULADA, ACAO_FISCALIZATORIA, UNID_CONTROLE, TIPO_ACAO, OPERACAO, DENUNCIA_SISLIV, ORDEM_FISCALIZACAO, SOLICITACAO_RECURSO, OPERACAO_SOL_RECURSO, DAT_LANCAMENTO, DAT_ULT_ALTERACAO, TIPO_ULT_ALTERACAO, ULTIMA_ATUALIZACAO_RELATORIO, cnpj_raiz, nome_infrator_semacentos]
Index: []

[0 rows x 44 columns]

In [14]:
autos_ibama_copia = autos_ibama.copy()
autos_ibama_copia.columns

Index(['SEQ_AUTO_INFRACAO', 'NUM_AUTO_INFRACAO', 'SER_AUTO_INFRACAO',
       'TIPO_AUTO', 'TIPO_MULTA', 'VAL_AUTO_INFRACAO', 'PATRIMONIO_APURACAO',
       'GRAVIDADE_INFRACAO', 'UNID_ARRECADACAO', 'DES_AUTO_INFRACAO',
       'DAT_HORA_AUTO_INFRACAO', 'FORMA_ENTREGA', 'DAT_CIENCIA_AUTUACAO',
       'COD_MUNICIPIO', 'MUNICIPIO', 'UF', 'NUM_PROCESSO', 'COD_INFRACAO',
       'DES_INFRACAO', 'TIPO_INFRACAO', 'NOME_INFRATOR', 'CPF_CNPJ_INFRATOR',
       'QTD_AREA', 'INFRACAO_AREA', 'DES_OUTROS_TIPO_AREA',
       'CLASSIFICACAO_AREA', 'NUM_LATITUDE_AUTO', 'NUM_LONGITUDE_AUTO',
       'DES_LOCAL_INFRACAO', 'NOTIFICACAO_VINCULADA', 'ACAO_FISCALIZATORIA',
       'UNID_CONTROLE', 'TIPO_ACAO', 'OPERACAO', 'DENUNCIA_SISLIV',
       'ORDEM_FISCALIZACAO', 'SOLICITACAO_RECURSO', 'OPERACAO_SOL_RECURSO',
       'DAT_LANCAMENTO', 'DAT_ULT_ALTERACAO', 'TIPO_ULT_ALTERACAO',
       'ULTIMA_ATUALIZACAO_RELATORIO', 'cnpj_raiz',
       'nome_infrator_semacentos'],
      dtype='object')

In [15]:
autos_ibama_copia.rename(columns = {'MUNICIPIO':'municipio'},inplace = True)
autos_ibama_copia.rename(columns = {'TIPO_INFRACAO':'tipo_infracao'},inplace = True)
autos_ibama_copia.rename(columns = {'DAT_HORA_AUTO_INFRACAO':'data_fiscalizacao'},inplace = True)
autos_ibama_copia.rename(columns = {'CPF_CNPJ_INFRATOR':'entidade_id'},inplace = True)
autos_ibama_copia.rename(columns = {'NOME_INFRATOR':'entidade_nome'},inplace = True)
autos_ibama_copia.rename(columns = {'UF':'estado_id'},inplace = True)
autos_ibama_copia.rename(columns = {'QTD_AREA':'tamanho_area'},inplace = True)
autos_ibama_copia.rename(columns = {'VAL_AUTO_INFRACAO':'valor'},inplace = True)

In [16]:
autos_ibama_copia = autos_ibama_copia[['municipio', 'tipo_infracao', 'data_fiscalizacao', 'entidade_id', 'entidade_nome', 'estado_id', 'tamanho_area', 'valor']]

In [17]:
autos_ibama_copia.to_csv('resultados/autos_ibama/lista_entidades_autos_de_infracao_ibama.csv',index=False)

In [18]:
autos_ibama_copia.columns

Index(['municipio', 'tipo_infracao', 'data_fiscalizacao', 'entidade_id',
       'entidade_nome', 'estado_id', 'tamanho_area', 'valor'],
      dtype='object')

In [18]:
autos_ibama.to_excel('resultados/autos_ibama/lista_autos_de_infracao_ibama_todas_colunas.xlsx',sheet_name='Sheet1',index=False)

### Doações

In [17]:
kwargs = {'sep': ',', 'dtype': str, 'encoding': 'utf-8'}
doacoes_2018 = pd.read_csv("resultados/doacoes/doacoes_geral_politicos_2018.csv", **kwargs)

In [18]:
doacoes_2018.shape

(24977, 15)

In [19]:
def limpeza2(linha):
    documento = str(linha["NR_CPF_CNPJ_DOADOR"])
    if len(documento) > 11:
        return documento[:8]
    else:
        return "documento_cpf"

doacoes_2018['NR_CPF_CNPJ_DOADOR_raiz'] = doacoes_2018.apply(limpeza2, axis=1)

In [20]:
doacoes_2018_pf = doacoes_2018[(doacoes_2018['NR_CPF_CNPJ_DOADOR_raiz'] == 'documento_cpf')].copy()
doacoes_2018_pj = doacoes_2018[(doacoes_2018['NR_CPF_CNPJ_DOADOR_raiz'] != 'documento_cpf')].copy()

In [21]:
doacoes_2018.columns

Index(['DT_RECEITA', 'NR_CPF_CANDIDATO', 'SQ_CANDIDATO', 'NM_CANDIDATO',
       'DS_FONTE_RECEITA', 'DS_NATUREZA_RECEITA', 'NR_CPF_CNPJ_DOADOR',
       'NM_DOADOR_RFB', 'DS_ESFERA_PARTIDARIA_DOADOR', 'NM_PARTIDO_DOADOR',
       'SQ_CANDIDATO_DOADOR', 'DS_CARGO_CANDIDATO_DOADOR', 'SG_PARTIDO_DOADOR',
       'DS_RECEITA', 'VR_RECEITA', 'NR_CPF_CNPJ_DOADOR_raiz'],
      dtype='object')

In [22]:
doacoes_2018[['NR_CPF_CNPJ_DOADOR', 'NM_DOADOR_RFB']].sample(5)

      NR_CPF_CNPJ_DOADOR                                   NM_DOADOR_RFB
21878        41030335842                    RHAYANE MAYHARA DUARTE BUENO
3947      05644130000180  COMISSAO EXECUTIVA PROVISORIA DO PARTIDO VERDE
1727         51250268591                        ELDER DOS SANTOS VERCOSA
9962      01421697000137                   PARTIDO SOCIALISTA BRASILEIRO
11615        88623327420                          GERVASIO AGRIPINO MAIA

In [23]:
# Cria coluna de CPF de doador mascarado e nomes sem acentos para cruzar depois

In [24]:
doacoes_2018_pf['cpf_mascarado_doador']= '***'+doacoes_2018_pf['NR_CPF_CNPJ_DOADOR'].str[3:9]+'**'
doacoes_2018_pf['nome_doador_semacentos'] = doacoes_2018_pf['NM_DOADOR_RFB'] 
doacoes_2018_pf["nome_doador_semacentos"] = doacoes_2018_pf["nome_doador_semacentos"].apply(f)

In [25]:
doacoes_2018_pf[['NR_CPF_CNPJ_DOADOR', 'cpf_mascarado_doador', 'NM_DOADOR_RFB', 'nome_doador_semacentos']].sample(5)

,NR_CPF_CNPJ_DOADOR,cpf_mascarado_doador,NM_DOADOR_RFB,nome_doador_semacentos
1194,86406353234,***063532**,LETICIA CAROLINA GUEDES COELHO MARINHO,LETICIA CAROLINA GUEDES COELHO MARINHO
16830,84263415272,***634152**,ENEAS ANDRADE BARBOSA,ENEAS ANDRADE BARBOSA
1407,06586694272,***866942**,NELCI ALBERTO LINS FERREIRA,NELCI ALBERTO LINS FERREIRA
7824,84719850634,***198506**,WELITON FERNANDES PRADO,WELITON FERNANDES PRADO
24473,18531490120,***314901**,ANTONIO CARLOS DE ALMEIDA CASTRO,ANTONIO CARLOS DE ALMEIDA CASTRO

In [26]:
doacoes_pj_ibama = pd.merge(doacoes_2018, autos_ibama_pj.drop_duplicates('cnpj_raiz'), left_on='NR_CPF_CNPJ_DOADOR_raiz', right_on='cnpj_raiz', how = 'left')

In [27]:
doacoes_pj_ibama.shape

(24977, 60)

In [28]:
conta = doacoes_pj_ibama[pd.notnull(doacoes_pj_ibama['CPF_CNPJ_INFRATOR'])]
conta.shape

(0, 60)

In [75]:
# Pessoa física

In [37]:
doacoes_pf_ibama = pd.merge(doacoes_2018_pf, autos_ibama_pf.drop_duplicates('CPF_CNPJ_INFRATOR'), left_on=['cpf_mascarado_doador','nome_doador_semacentos'], 
                            right_on=['CPF_CNPJ_INFRATOR','nome_infrator_semacentos'], how = 'left')

In [38]:
conta = doacoes_pf_ibama[pd.notnull(doacoes_pf_ibama['CPF_CNPJ_INFRATOR'])].copy()
conta.shape

(196, 62)

In [34]:
# Com todas colunas

In [35]:
conta.to_excel('resultados/autos_ibama/doacoes_diretas_vindas_pessoas_com_autos_de_infracao_ibama_2018.xlsx',sheet_name='Sheet1',index=False)

In [36]:
# Versão para BD

In [39]:
conta['doacoes_tipo'] = 'direta'

In [40]:
conta.columns

Index(['DT_RECEITA', 'NR_CPF_CANDIDATO', 'SQ_CANDIDATO', 'NM_CANDIDATO',
       'DS_FONTE_RECEITA', 'DS_NATUREZA_RECEITA', 'NR_CPF_CNPJ_DOADOR',
       'NM_DOADOR_RFB', 'DS_ESFERA_PARTIDARIA_DOADOR', 'NM_PARTIDO_DOADOR',
       'SQ_CANDIDATO_DOADOR', 'DS_CARGO_CANDIDATO_DOADOR', 'SG_PARTIDO_DOADOR',
       'DS_RECEITA', 'VR_RECEITA', 'NR_CPF_CNPJ_DOADOR_raiz',
       'cpf_mascarado_doador', 'nome_doador_semacentos', 'SEQ_AUTO_INFRACAO',
       'NUM_AUTO_INFRACAO', 'SER_AUTO_INFRACAO', 'TIPO_AUTO', 'TIPO_MULTA',
       'VAL_AUTO_INFRACAO', 'PATRIMONIO_APURACAO', 'GRAVIDADE_INFRACAO',
       'UNID_ARRECADACAO', 'DES_AUTO_INFRACAO', 'DAT_HORA_AUTO_INFRACAO',
       'FORMA_ENTREGA', 'DAT_CIENCIA_AUTUACAO', 'COD_MUNICIPIO', 'MUNICIPIO',
       'UF', 'NUM_PROCESSO', 'COD_INFRACAO', 'DES_INFRACAO', 'TIPO_INFRACAO',
       'NOME_INFRATOR', 'CPF_CNPJ_INFRATOR', 'QTD_AREA', 'INFRACAO_AREA',
       'DES_OUTROS_TIPO_AREA', 'CLASSIFICACAO_AREA', 'NUM_LATITUDE_AUTO',
       'NUM_LONGITUDE_AUTO', 'DES_LOCAL_INFRACAO', 'NOTIFICACAO_VINCULADA',
       'ACAO_FISCALIZATORIA', 'UNID_CONTROLE', 'TIPO_ACAO', 'OPERACAO',
       'DENUNCIA_SISLIV', 'ORDEM_FISCALIZACAO', 'SOLICITACAO_RECURSO',
       'OPERACAO_SOL_RECURSO', 'DAT_LANCAMENTO', 'DAT_ULT_ALTERACAO',
       'TIPO_ULT_ALTERACAO', 'ULTIMA_ATUALIZACAO_RELATORIO', 'cnpj_raiz',
       'nome_infrator_semacentos', 'doacoes_tipo'],
      dtype='object')

In [41]:
conta.rename(columns = {'VR_RECEITA':'valor'},inplace = True)
conta.rename(columns = {'NR_CPF_CANDIDATO':'politico_id'},inplace = True)
conta.rename(columns = {'NR_CPF_CNPJ_DOADOR':'entidade_id'},inplace = True)
conta.rename(columns = {'CPF_CNPJ_INFRATOR':'entidade_id_mascarada'},inplace = True)
conta.rename(columns = {'nome_infrator_semacentos':'entidade_nome'},inplace = True)
conta.rename(columns = {'DS_FONTE_RECEITA':'origem_do_dinheiro_no_tse'},inplace = True)
conta.rename(columns = {'DT_RECEITA':'data'},inplace = True)
#conta.rename(columns = {'NM_DOADOR_RFB':'entidade_nome'},inplace = True)

In [42]:
conta = conta[['valor', 'politico_id', 'entidade_id', 'entidade_id_mascarada', 'entidade_nome', 'doacoes_tipo', 'origem_do_dinheiro_no_tse', 'data']]

In [43]:
conta.columns

Index(['valor', 'politico_id', 'entidade_id', 'entidade_id_mascarada',
       'entidade_nome', 'doacoes_tipo', 'origem_do_dinheiro_no_tse', 'data'],
      dtype='object')

In [44]:
conta.shape

(196, 8)

In [45]:
conta

,valor,politico_id,entidade_id,entidade_id_mascarada,entidade_nome,doacoes_tipo,origem_do_dinheiro_no_tse,data
130,"1500,00",65595564253,18142532204,***425322**,JOSE ODAILSON BARRETO NASCIMENTO,direta,Outros Recursos,20/08/2018
133,"2000,00",65595564253,35918667253,***186672**,JOSE GOMES DA SILVA,direta,Outros Recursos,20/08/2018
328,"1500,00",63182246291,09640940291,***409402**,JOSE FELIZARDO DA SILVA,direta,Outros Recursos,14/09/2018
456,"30000,00",01117690199,29843502787,***435027**,MARIO ROBERTO CANDIA DE FIGUEIREDO,direta,Outros Recursos,02/10/2018
769,"900,00",13717820249,60334690200,***346902**,ELISANDRA CAMPOS ASSUNCAO,direta,Outros Recursos,28/09/2018
...,...,...,...,...,...,...,...,...
16863,"2500,00",02441369806,41006151834,***061518**,JOSE RICARDO REZEK,direta,Outros Recursos,02/10/2018
17185,"7000,00",99898659149,37119273191,***192731**,ROMES DA MOTA SOARES,direta,Outros Recursos,10/09/2018
17209,"40000,00",99898659149,30232287600,***322876**,HERCULES OLIVEIRA RICCIOPPO,direta,Outros Recursos,24/09/2018
17231,"2000,00",21944202153,19154089115,***540891**,JOAO BATISTA DIAS PEREIRA,direta,Outros Recursos,04/09/2018
17236,"2000,00",43196926168,37517678191,***176781**,IOAV BLANCHE,direta,Outros Recursos,01/10/2018

In [46]:
conta.to_csv('resultados/autos_ibama/doacoes_diretas_vindas_pessoas_com_autos_de_infracao_ibama_2018.csv',index=False)

### Doações indiretas

In [47]:
doacoes_indiretas_2018 = pd.read_excel('resultados/doacoes/doacoes_todas_indiretas_politicos_2018.xlsx', sheet_name = 'Sheet1', dtype = 'str')

In [48]:
doacoes_indiretas_2018.shape

(2372, 68)

In [49]:
doacoes_indiretas_2018.columns

Index(['DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO', 'CD_TIPO_ELEICAO',
       'NM_TIPO_ELEICAO', 'CD_ELEICAO', 'DS_ELEICAO', 'DT_ELEICAO', 'ST_TURNO',
       'TP_PRESTACAO_CONTAS', 'DT_PRESTACAO_CONTAS', 'SQ_PRESTADOR_CONTAS',
       'SG_UF', 'SG_UE', 'NM_UE', 'NR_CNPJ_PRESTADOR_CONTA', 'CD_CARGO',
       'DS_CARGO', 'SQ_CANDIDATO', 'NR_CANDIDATO', 'NM_CANDIDATO',
       'NR_CPF_CANDIDATO', 'NR_CPF_VICE_CANDIDATO', 'NR_PARTIDO', 'SG_PARTIDO',
       'NM_PARTIDO', 'CD_FONTE_RECEITA', 'DS_FONTE_RECEITA',
       'CD_ORIGEM_RECEITA', 'DS_ORIGEM_RECEITA', 'CD_NATUREZA_RECEITA',
       'DS_NATUREZA_RECEITA', 'CD_ESPECIE_RECEITA', 'DS_ESPECIE_RECEITA',
       'CD_CNAE_DOADOR', 'DS_CNAE_DOADOR', 'NR_CPF_CNPJ_DOADOR', 'NM_DOADOR',
       'NM_DOADOR_RFB', 'CD_ESFERA_PARTIDARIA_DOADOR',
       'DS_ESFERA_PARTIDARIA_DOADOR', 'SG_UF_DOADOR', 'CD_MUNICIPIO_DOADOR',
       'NM_MUNICIPIO_DOADOR', 'SQ_CANDIDATO_DOADOR', 'NR_CANDIDATO_DOADOR',
       'CD_CARGO_CANDIDATO_DOADOR', 'DS_CARGO_CANDIDATO_DOADOR',
       'NR_PARTIDO_DOADOR', 'SG_PARTIDO_DOADOR', 'NM_PARTIDO_DOADOR',
       'NR_RECIBO_DOACAO', 'NR_DOCUMENTO_DOACAO', 'SQ_RECEITA', 'DT_RECEITA',
       'DS_RECEITA', 'VR_RECEITA', 'cpf_doacoaindireta', 'nome_doacoaindireta',
       'sq_doacoaindireta', 'nome', 'foto', 'nome_urna', 'politico_id',
       'partido_eleicao', 'partido_atual', 'uri', 'sequencial_candidato'],
      dtype='object')

In [50]:
doacoes_indiretas_2018['NR_CPF_CNPJ_DOADOR_raiz'] = doacoes_indiretas_2018.apply(limpeza2, axis=1)

In [51]:
doacoes_indiretas_2018['cpf_mascarado_doador']= '***'+doacoes_indiretas_2018['cpf_doacoaindireta'].str[3:9]+'**'
doacoes_indiretas_2018['nome_doador_semacentos'] = doacoes_indiretas_2018['nome_doacoaindireta'] 
doacoes_indiretas_2018['nome_doador_semacentos']= doacoes_indiretas_2018['nome_doador_semacentos'].apply(f)

In [52]:
doacoes_indiretas_2018_pf = doacoes_indiretas_2018[(doacoes_indiretas_2018['NR_CPF_CNPJ_DOADOR_raiz'] == 'documento_cpf')]
doacoes_indiretas_2018_pj = doacoes_indiretas_2018[(doacoes_indiretas_2018['NR_CPF_CNPJ_DOADOR_raiz'] != 'documento_cpf')]

In [53]:
doacoes_indiretas_2018_pf.shape

(0, 71)

In [54]:
doacoes_indiretas_2018_pj.shape

(2372, 71)

In [64]:
doacoes_pf_ibama_indireta = pd.merge(doacoes_indiretas_2018_pj, autos_ibama_pf.drop_duplicates('CPF_CNPJ_INFRATOR'),  left_on=['cpf_mascarado_doador','nome_doador_semacentos'], 
                                right_on=['CPF_CNPJ_INFRATOR','nome_infrator_semacentos'], how = 'left')

In [65]:
conta = doacoes_pf_ibama_indireta[pd.notnull(doacoes_pf_ibama_indireta['CPF_CNPJ_INFRATOR'])].copy()
conta.shape

(117, 115)

In [54]:
conta.to_excel('resultados/autos_ibama/doacoes_indiretas_vindas_pessoas_com_autos_infracao_ibama_2018.xlsx',sheet_name='Sheet1',index=False)

In [66]:
conta['doacoes_tipo'] = 'indireta'

In [67]:
conta.columns

Index(['DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO', 'CD_TIPO_ELEICAO',
       'NM_TIPO_ELEICAO', 'CD_ELEICAO', 'DS_ELEICAO', 'DT_ELEICAO', 'ST_TURNO',
       'TP_PRESTACAO_CONTAS',
       ...
       'ORDEM_FISCALIZACAO', 'SOLICITACAO_RECURSO', 'OPERACAO_SOL_RECURSO',
       'DAT_LANCAMENTO', 'DAT_ULT_ALTERACAO', 'TIPO_ULT_ALTERACAO',
       'ULTIMA_ATUALIZACAO_RELATORIO', 'cnpj_raiz', 'nome_infrator_semacentos',
       'doacoes_tipo'],
      dtype='object', length=116)

In [68]:
conta.rename(columns = {'VR_RECEITA':'valor'},inplace = True)
#conta.rename(columns = {'NR_CPF_CANDIDATO':'politico_id'},inplace = True)
conta.rename(columns = {'cpf_doacoaindireta':'entidade_id'},inplace = True)
conta.rename(columns = {'CPF_CNPJ_INFRATOR':'entidade_id_mascarada'},inplace = True)
conta.rename(columns = {'nome_infrator_semacentos':'entidade_nome'},inplace = True)
conta.rename(columns = {'DS_FONTE_RECEITA':'origem_do_dinheiro_no_tse'},inplace = True)
conta.rename(columns = {'DT_RECEITA':'data'},inplace = True)
conta.rename(columns = {'SQ_CANDIDATO_DOADOR':'sequencialdoador_id'},inplace = True)
#conta.rename(columns = {'NM_DOADOR_RFB':'entidade_nome'},inplace = True)

In [69]:
conta = conta[['valor', 'politico_id', 'entidade_id', 'entidade_id_mascarada', 'entidade_nome', 'sequencialdoador_id', 'doacoes_tipo', 'origem_do_dinheiro_no_tse', 'data']]

In [70]:
conta.columns

Index(['valor', 'politico_id', 'entidade_id', 'entidade_id_mascarada',
       'entidade_nome', 'sequencialdoador_id', 'doacoes_tipo',
       'origem_do_dinheiro_no_tse', 'data'],
      dtype='object')

In [71]:
conta.head()

,valor,politico_id,entidade_id,entidade_id_mascarada,entidade_nome,sequencialdoador_id,doacoes_tipo,origem_do_dinheiro_no_tse,data
144,"47000,00",07894090549,04789113515,***891135**,JOSE ALVES ROCHA,50000607804,indireta,Fundo Especial,24/09/2018
145,"30000,00",07894090549,04789113515,***891135**,JOSE ALVES ROCHA,50000607804,indireta,Fundo Especial,21/09/2018
146,"5000,00",07894090549,04789113515,***891135**,JOSE ALVES ROCHA,50000607804,indireta,Fundo Especial,19/09/2018
147,"25000,00",07894090549,04789113515,***891135**,JOSE ALVES ROCHA,50000607804,indireta,Fundo Especial,03/10/2018
457,"12500,00",25630512315,03679004320,***790043**,EUNICIO LOPES DE OLIVEIRA,60000605116,indireta,Fundo Especial,03/10/2018

In [72]:
conta.shape

(117, 9)

In [73]:
conta.to_csv('resultados/autos_ibama/doacoes_indiretas_vindas_pessoas_com_autos_de_infracao_ibama_2018.csv',index=False)

### Doações originárias

In [74]:
doacoes_originarias_2018 = pd.read_excel('resultados/doacoes/doacoes_originarias_politicos_2018.xlsx', sheet_name = 'Sheet1', dtype = 'str')

In [75]:
doacoes_originarias_2018.shape

(11060, 25)

In [76]:
doacoes_originarias_2018.columns

Index(['DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO', 'CD_TIPO_ELEICAO',
       'NM_TIPO_ELEICAO', 'CD_ELEICAO', 'DS_ELEICAO', 'DT_ELEICAO', 'ST_TURNO',
       'TP_PRESTACAO_CONTAS', 'DT_PRESTACAO_CONTAS', 'SQ_PRESTADOR_CONTAS',
       'SG_UF', 'NR_CPF_CNPJ_DOADOR_ORIGINARIO', 'NM_DOADOR_ORIGINARIO',
       'NM_DOADOR_ORIGINARIO_RFB', 'TP_DOADOR_ORIGINARIO',
       'CD_CNAE_DOADOR_ORIGINARIO', 'DS_CNAE_DOADOR_ORIGINARIO', 'SQ_RECEITA',
       'DT_RECEITA', 'DS_RECEITA', 'VR_RECEITA', 'NM_CANDIDATO',
       'NR_CPF_CANDIDATO'],
      dtype='object')

In [77]:
def limpeza4(linha):
    documento = str(linha["NR_CPF_CNPJ_DOADOR_ORIGINARIO"])
    if len(documento) > 11:
        return documento[:8]
    else:
        return "documento_cpf"
    
doacoes_originarias_2018['NR_CPF_CNPJ_DOADOR_ORIGINARIO_raiz'] = doacoes_originarias_2018.apply(limpeza4, axis=1)

In [78]:
doacoes_originarias_2018_pf = doacoes_originarias_2018[(doacoes_originarias_2018['NR_CPF_CNPJ_DOADOR_ORIGINARIO_raiz'] == 'documento_cpf')]
doacoes_originarias_2018_pj = doacoes_originarias_2018[(doacoes_originarias_2018['NR_CPF_CNPJ_DOADOR_ORIGINARIO_raiz'] != 'documento_cpf')]

In [79]:
doacoes_originarias_2018_pf['cpf_mascarado_doador']= '***'+doacoes_originarias_2018_pf['NR_CPF_CNPJ_DOADOR_ORIGINARIO'].str[3:9]+'**'
doacoes_originarias_2018_pf["nome_doador_semacentos"] = doacoes_originarias_2018_pf['NM_DOADOR_ORIGINARIO_RFB'].str.upper()
doacoes_originarias_2018_pf['nome_doador_semacentos']= doacoes_originarias_2018_pf['nome_doador_semacentos'].apply(f)

In [80]:
doacoes_originarias_2018_pf.shape

(11060, 28)

In [81]:
doacoes_originarias_2018_pj.shape

(0, 26)

In [105]:
doacoes_pf_ibama_originaria = pd.merge(doacoes_originarias_2018_pf, autos_ibama_pf.drop_duplicates('CPF_CNPJ_INFRATOR'), left_on=['cpf_mascarado_doador','nome_doador_semacentos'], 
                                       right_on=['CPF_CNPJ_INFRATOR','nome_infrator_semacentos'], how = 'left')

In [106]:
conta = doacoes_pf_ibama_originaria[pd.notnull(doacoes_pf_ibama_originaria['CPF_CNPJ_INFRATOR'])].copy()
conta.shape

(37, 72)

In [93]:
conta.to_excel('resultados/autos_ibama/doacoes_originarias_vindas_pessoas_com_autos_de_infracao_ibama_2018.xlsx',sheet_name='Sheet1',index=False)

In [107]:
conta['doacoes_tipo'] = 'originaria'

In [108]:
conta.columns

Index(['DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO', 'CD_TIPO_ELEICAO',
       'NM_TIPO_ELEICAO', 'CD_ELEICAO', 'DS_ELEICAO', 'DT_ELEICAO', 'ST_TURNO',
       'TP_PRESTACAO_CONTAS', 'DT_PRESTACAO_CONTAS', 'SQ_PRESTADOR_CONTAS',
       'SG_UF', 'NR_CPF_CNPJ_DOADOR_ORIGINARIO', 'NM_DOADOR_ORIGINARIO',
       'NM_DOADOR_ORIGINARIO_RFB', 'TP_DOADOR_ORIGINARIO',
       'CD_CNAE_DOADOR_ORIGINARIO', 'DS_CNAE_DOADOR_ORIGINARIO', 'SQ_RECEITA',
       'DT_RECEITA', 'DS_RECEITA', 'VR_RECEITA', 'NM_CANDIDATO',
       'NR_CPF_CANDIDATO', 'NR_CPF_CNPJ_DOADOR_ORIGINARIO_raiz',
       'cpf_mascarado_doador', 'nome_doador_semacentos', 'SEQ_AUTO_INFRACAO',
       'NUM_AUTO_INFRACAO', 'SER_AUTO_INFRACAO', 'TIPO_AUTO', 'TIPO_MULTA',
       'VAL_AUTO_INFRACAO', 'PATRIMONIO_APURACAO', 'GRAVIDADE_INFRACAO',
       'UNID_ARRECADACAO', 'DES_AUTO_INFRACAO', 'DAT_HORA_AUTO_INFRACAO',
       'FORMA_ENTREGA', 'DAT_CIENCIA_AUTUACAO', 'COD_MUNICIPIO', 'MUNICIPIO',
       'UF', 'NUM_PROCESSO', 'COD_INFRACAO', 'DES_INFRACAO', 'TIPO_INFRACAO',
       'NOME_INFRATOR', 'CPF_CNPJ_INFRATOR', 'QTD_AREA', 'INFRACAO_AREA',
       'DES_OUTROS_TIPO_AREA', 'CLASSIFICACAO_AREA', 'NUM_LATITUDE_AUTO',
       'NUM_LONGITUDE_AUTO', 'DES_LOCAL_INFRACAO', 'NOTIFICACAO_VINCULADA',
       'ACAO_FISCALIZATORIA', 'UNID_CONTROLE', 'TIPO_ACAO', 'OPERACAO',
       'DENUNCIA_SISLIV', 'ORDEM_FISCALIZACAO', 'SOLICITACAO_RECURSO',
       'OPERACAO_SOL_RECURSO', 'DAT_LANCAMENTO', 'DAT_ULT_ALTERACAO',
       'TIPO_ULT_ALTERACAO', 'ULTIMA_ATUALIZACAO_RELATORIO', 'cnpj_raiz',
       'nome_infrator_semacentos', 'doacoes_tipo'],
      dtype='object')

In [109]:
conta.rename(columns = {'VR_RECEITA':'valor'},inplace = True)
conta.rename(columns = {'NR_CPF_CANDIDATO':'politico_id'},inplace = True)
conta.rename(columns = {'NR_CPF_CNPJ_DOADOR_ORIGINARIO': 'entidade_id'},inplace = True)
conta.rename(columns = {'CPF_CNPJ_INFRATOR':'entidade_id_mascarada'},inplace = True)
conta.rename(columns = {'NM_DOADOR_ORIGINARIO_RFB':'entidade_nome'},inplace = True)
conta.rename(columns = {'DS_RECEITA':'origem_do_dinheiro_no_tse'},inplace = True)
conta.rename(columns = {'DT_PRESTACAO_CONTAS':'data'},inplace = True)

In [110]:
conta = conta[['valor', 'politico_id', 'entidade_id', 'entidade_id_mascarada', 'entidade_nome', 'doacoes_tipo', 'origem_do_dinheiro_no_tse', 'data']]

In [111]:
conta.columns

Index(['valor', 'politico_id', 'entidade_id', 'entidade_id_mascarada',
       'entidade_nome', 'doacoes_tipo', 'origem_do_dinheiro_no_tse', 'data'],
      dtype='object')

In [112]:
conta.head()

,valor,politico_id,entidade_id,entidade_id_mascarada,entidade_nome,doacoes_tipo,origem_do_dinheiro_no_tse,data
391,"1000,00",38208563315,24246476749,***464767**,INOCENCIO RODRIGUES UCHOA,originaria,Recursos de Financiamento Coletivo,06/11/2018
392,"500,00",38208563315,24246476749,***464767**,INOCENCIO RODRIGUES UCHOA,originaria,Recursos de Financiamento Coletivo,06/11/2018
393,"1000,00",38208563315,24246476749,***464767**,INOCENCIO RODRIGUES UCHOA,originaria,Recursos de Financiamento Coletivo,06/11/2018
1085,"10,00",06630008669,03418067654,***180676**,ISRAEL FERNANDO BERNARDINO DA SILVA,originaria,Recursos de Financiamento Coletivo,18/11/2018
1343,"50,00",01412895626,05710987115,***109871**,JOSE BERTOLDO MENDES,originaria,Recursos de Financiamento Coletivo,14/11/2018

In [113]:
conta.to_csv('resultados/autos_ibama/doacoes_originarias_vindas_pessoas_com_autos_ibama_2018.csv',index=False)

### Candidatos 2018

In [17]:
kwargs = {'sep': ',', 'dtype': str, 'encoding': 'utf-8'}
politicos_2018 = pd.read_csv("resultados/politicos_2018_09abr.csv", **kwargs)

In [18]:
politicos_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   nome                  510 non-null    object
 1   foto                  510 non-null    object
 2   nome_urna             510 non-null    object
 3   politico_id           510 non-null    object
 4   partido_eleicao       510 non-null    object
 5   partido_atual         510 non-null    object
 6   uri                   510 non-null    object
 7   sequencial_candidato  510 non-null    object
 8   bancada_ruralista     236 non-null    object
dtypes: object(9)
memory usage: 36.0+ KB

In [19]:
politicos_2018['cpf_mascarado']= '***'+politicos_2018['politico_id'].str[3:9]+'**'
politicos_2018["nome_semacentos"] = politicos_2018['nome'].str.upper()
politicos_2018['nome_semacentos']= politicos_2018['nome_semacentos'].apply(f)

In [20]:
politicos_autos_ibama = pd.merge(autos_ibama_pf.drop_duplicates('CPF_CNPJ_INFRATOR'), 
                                    politicos_2018, 
                                    left_on=['CPF_CNPJ_INFRATOR','nome_infrator_semacentos'], 
                                    right_on=['cpf_mascarado', 'nome_semacentos'], how = 'left')

In [21]:
conta = politicos_autos_ibama[pd.notnull(politicos_autos_ibama['politico_id'])].copy()
conta.shape

(10, 55)

In [86]:
conta.to_excel('resultados/autos_ibama/deputados_2018_com_autos_ibama.xlsx',sheet_name='Sheet1',index=False)

In [87]:
conta.rename(columns = {'CPF_CNPJ_INFRATOR':'entidade_id'},inplace = True)
conta.rename(columns = {'NOME_INFRATOR':'entidade_nome'},inplace = True)
conta.rename(columns = {'MUNICIPIO':'municipio'},inplace = True)
conta.rename(columns = {'DES_INFRACAO':'tipo_infracao'},inplace = True)
conta.rename(columns = {'DAT_HORA_AUTO_INFRACAO':'data_insercao_lista'},inplace = True)
conta.rename(columns = {'UF':'estado_id'},inplace = True)
conta.rename(columns = {'QTD_AREA':'tamanho_area'},inplace = True)

In [88]:
conta = conta[['entidade_id', 'entidade_nome', 'municipio', 'tipo_infracao', 'data_insercao_lista', 'estado_id', 'tamanho_area']]

In [89]:
conta.to_csv('resultados/autos_ibama/deputados_2018_com_autos_de_infracao_ibama.csv',index=False)